body {
    background-color: #202937;
    color: white;
    margin: 90px 40px;
}
h1 {
    margin: 0px ;
    font-size: 50px;
}
h2{
    color: #646A74;
    margin: 5px 0px;
}
.btn {
    background: #10B981;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    margin: 25px 0px 30px 0px;
}
#h1color {
    color: #10B981;
}

.checkboxes {
    margin: 40px 0px 0px 0px;
}
.checkbox {
    margin: 15px 0px 0px 0px;
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-top: 3px;
    padding-left: 28px;
    margin-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 3px;
    }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #dddcdc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #10B981;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #202937;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


#numbers {
    color: black;
    background-color: black;
}
#passwords {
    border-top: 2px solid #273549;
    display: flex;
    width: 500px;
    text-align: left;
}

#password1 {
    background-color: #273549;
    /* border: 2px solid white; */
    border-radius: 4px;
    min-width: 250px;
    max-width: 500px;
    margin: 35px 15px 50px 0px;
    padding: 10px 15px 10px 15px;
    color: #10B981;
}

#password2 {
    background-color: #273549;
    /* border: 2px solid white;  */
    border-radius: 4px;
    min-width: 250px;
    width: auto;
    margin: 35px 15px 50px 0px;
    padding: 10px 15px 10px 15px;
    color: #10B981;
}